:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;

  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #ffffff;

  --accent-color: #2196f3;

  --primary-background: #F5F5F5;
  --secondary-background: #F5F4FA;
  --accent-background: #2F303A;
}

body {
  font-family: var(--primary-font-family);
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
ul{
  /* padding: 0;  */
   margin: 0;
  list-style: none;
}
a{
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
  margin-top: 0;
  margin-bottom: 0;
} 


.current{
color: var(--accent-color);
}

.container{
 width: 1200px; 
 margin: 0 auto;
 outline: 2px solid red;
}


/* ----------component------------- */
.studio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.67;
}

/* ========studio========= */

/* --hero-- */
.hero{
background-color: var(--accent-background);
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-text-color); 
}
.main-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  color: var(--accent-text-color);
  background-color: var(--accent-color);
}

/* ---peculiarities-- */
.peculiarities{
background-color: var(--primary-background);
} 

.title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.description {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}


/* -----about----- */
.about{
background-color: var(--primary-background);
}


/* ---team---- */
.team{
background-color: var(--secondary-background);
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-description {
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);
}



/* ========portfolio====== */
.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--primary-text-color);
  background-color: var(--secondary-background);
  cursor: pointer;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--accent-text-color);
  background-color: var(--accent-color);
}

.portfilio-list-link{
color: inherit;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}



/* --------------logo--------------*/
.logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}
.logo-accent {
  color: var(--accent-color);
}


.logo-footer{
color: var(--accent-text-color);
}



/* -------------header---------------- */
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}


.current{
color: var(--accent-color);
}


.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
}

/* -----------------footer---------------- */
.footer{
background-color: var(--accent-background);
}


.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
 
 color: rgba(255, 255, 255, 0.6);  
}
.address:hover,
.address:focus{
 color: var(--accent-color);
}
.adress-link{
color: var(--accent-text-color); 
} 
